#createReviewModal {
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

#createReviewHeader {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 7px;
}

#createReviewTextArea{
    margin: 5px 20px 5px 20px;
    border: 2px black solid;
    width: 90%;
}

.createReviewStarsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 25px;
}


#disabledButton {
    width: 390px;
    height: 40px;
    box-shadow: 3px 3px grey;
    background-color: white;
    color: grey;
    cursor: not-allowed;

}
#notDisabledButton {
    width: 390px;
    height: 40px;
    box-shadow: 3px 3px black;
    background-color: rgb(255, 90, 95);
    color: white;
} 

  .createReviewHeader {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 7px;
  }
  
  .createReviewTextArea {
    margin: 5px 0;
    padding: 10px;
    border: 2px solid black;
    width: 100%;
  }
  
  .createReviewStarsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .rev-star {
    font-size: 25px;
    color: black;
    cursor: pointer;
  }
  
  .rev-star.fa-solid {
    color: black;
  }
  
  #error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  #starsText {
    padding-left: 7px;
  }
  
  #createReviewButton {
    margin-bottom: 10px;
  }
  
 
  
