.new-spot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.new-spot-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 750px;
    margin: 0 auto;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-header-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.form-header-subtext {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.new-spot-form input {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: transparent;
    margin-right: 10px;
}

#moneySign {
    padding-bottom: 10px;
    font-size: 17px;
}

.inputExc {
    width: 80%;
    background-color: transparent;
    /* Removed blue background */
}

.createSpotCountry {
    display: flex;
    flex-direction: column;
}

.createSpotCityState {
    display: flex;
    /* Change to flex layout */
    justify-content: space-between;
    /* Add space between city and state inputs */
}

.createSpotCityInput,
.createSpotStateInput {
    flex: 1;
    /* Divide the available width equally */
}

textarea {
    height: 100px;
    width: 100%;
    resize: none;
    background-color: transparent;
    /* Removed blue background */
}

hr {
    height: 1px;
    background-color: black;
    width: 100%;
    /* Adjusted width to 100% */
}

.new-spot-form .createSpotHeaderTertiaryText {
    font-size: 12px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input::placeholder {
    font-size: 12px;
}

#createNewSpotSubmitButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#createNewSpotSubmitButton {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    color: white;
    background-color: rgb(255, 90, 95);
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
}

#createNewSpotSubmitButtonDisabled {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    color: white;
    box-shadow: 1px 1px 0px black;
    background-color: grey;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
}

.newSpotError {
    color: red;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: -10px;
    margin-top: -12px;
    gap: 10px;
}

.new-spot-form .newSpotErrorNormal {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.new-spot-form .newSpotErrorNotNormal {
    color: black;
}

#descripErr {
    color: red;
    font-size: 12px;
    margin: 0 0 0 0;
}

.newSpotErrorDiv {
    display: flex;
    padding-top: 0px;
    flex-direction: row;
}


#cityInput {
    width: 300px;
}

#stateInputDiv {
    margin-right: 100px;
    padding-right: 5px;
}

#stateInput {
    width: 300px;
}


#textAreaCreate {
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding-left: 10px;
    padding-top: 2px;
}