.spotContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    cursor: pointer;
}

#spotDetailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}