.spotContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    cursor: pointer;
}

#spotDetailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.sort-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sort-dropdown-container label {
    margin-right: 10px;
    font-weight: bold;
}

#sort-dropdown {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.spot-container {
    list-style: none;
    padding: 0;
}

.spot-container li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.spot-container li:hover {
    background-color: #eaeaea;
}

/* Styling for the container */
.pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    gap: 20px;
}


.pagination-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}


.pagination-buttons button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}


.pagination-buttons button:hover:not([disabled]) {
    background-color: #0056b3;
}