#loginModal {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 300px;
    top: 50px;
    border-radius: 10;

}

#logInHeader {
    margin-top: -30px;
    margin-bottom: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

#usernameInput, #passwordInput{
    width: 400px;
    background-color: rgb(198, 219, 238);
    border: 3px black solid;
}

#loginButton {
    margin-top: 25px;
    height: 50px;
    box-shadow: 5px 5px 0px gray;
    background-color: rgb(255, 90, 95);
}

#loginButtonErr {
    margin-top: -5px;
    height: 50px;
    box-shadow: 5px 5px 0px gray;
    background-color: rgb(255, 90, 95);
}

#demoUserButton {
    margin-top: 30px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: rgb(0, 76, 139);
}

#errorsLogIn {
    color: red;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: -160px;

}